node_modules/
dist/
release/
out/
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron
electron-builder/
*.exe
*.msi
*.dmg
*.AppImage
*.deb
*.rpm

# 旧目录
server/
client/
